workflows/RAG MAIL & Docs.json
{
  "name": "RAG MAIL & Docs",
  "nodes": [
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -208,
        0
      ],
      "id": "fe3a7da0-d66e-449b-920f-a12966f600cc",
      "name": "Supabase Vector Store",
      "notesInFlow": false,
      "credentials": {
        "supabaseApi": {
          "id": "1xpxpcK4I6uYUZ72",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -112,
        224
      ],
      "id": "cd002504-d4a8-434c-927f-55876fb1afe6",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "projectId": {
          "__rl": true,
          "value": "gst-for-n8n",
          "mode": "list",
          "cachedResultName": "GST For n8n"
        },
        "modelName": "=text-embedding-005"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleVertex",
      "typeVersion": 1,
      "position": [
        -240,
        544
      ],
      "id": "52fdb6c7-4b24-479f-8170-ca0b589d4a9d",
      "name": "Embeddings Google Vertex",
      "notesInFlow": false,
      "credentials": {
        "googleApi": {
          "id": "lHBRSUGvLWVBJuFZ",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Upload your data to test RAG",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Upload your file(s)",
              "fieldType": "file",
              "acceptFileTypes": ".pdf, .csv",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -432,
        0
      ],
      "id": "e820486c-39ad-4f6d-9e11-7e4cae316e2a",
      "name": "Upload your file here",
      "webhookId": "15890731-3493-43c2-8c1d-314e3f81eea4"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -880,
        0
      ],
      "id": "0c6b8c5e-7601-41fe-acaf-6f3afa2e68d8",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -1136,
        0
      ],
      "id": "f667c3d9-1160-4444-848c-d9c1d9b668cb",
      "name": "When chat message received",
      "webhookId": "4091fa09-fb9a-4039-9411-7104d213f601"
    },
    {
      "parameters": {
        "projectId": {
          "__rl": true,
          "value": "gst-for-n8n",
          "mode": "list",
          "cachedResultName": "GST For n8n"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleVertex",
      "typeVersion": 1,
      "position": [
        -1104,
        224
      ],
      "id": "00f019d2-6d2a-427b-b749-108c7d27702d",
      "name": "Google Vertex Chat Model",
      "credentials": {
        "googleApi": {
          "id": "lHBRSUGvLWVBJuFZ",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": 5,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -752,
        224
      ],
      "id": "f106e69f-aa41-488a-a656-84c7c077b1ba",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "1xpxpcK4I6uYUZ72",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -880,
        208
      ],
      "id": "fad2d75a-5da8-4ae0-9dc3-d633642634c8",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "Rl0TzxzzYZuqV4c3",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        464,
        0
      ],
      "id": "db7633cc-00e2-4c21-9c1a-dd4c417a17c3",
      "name": "Supabase Vector Store2",
      "notesInFlow": false,
      "credentials": {
        "supabaseApi": {
          "id": "1xpxpcK4I6uYUZ72",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.date }}{{ $json.from }}{{ $json.to }}{{ $json.subject }}{{ $json.textPlain ? $json.textPlain : $json.textHtml }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        496,
        224
      ],
      "id": "f408d025-31a6-4be3-a7ab-3e7d0c3d90e4",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "postProcessAction": "nothing",
        "options": {}
      },
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2.1,
      "position": [
        224,
        0
      ],
      "id": "9f1f25f4-8473-463c-a50c-a38aaeabeb4e",
      "name": "Email Trigger (IMAP)",
      "credentials": {
        "imap": {
          "id": "VBIHsoZKALZ812S0",
          "name": "Yash IMAP account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Vertex": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Supabase Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Upload your file here": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Vertex Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store2",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Email Trigger (IMAP)": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bcd8fdd0-2e64-46c6-8c70-947dc5d3d737",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e658120d0ac92b11cdfc2fd79f1f0e596066ce16d9afe9a22fa7f317154f0f64"
  },
  "id": "PbEsZrynpWNJ49E6",
  "tags": []
}